:root {
    --color-surface-bright: 248 249 251;
    --color-on-tertiary: 255 255 255;
    --color-error-container: 255 218 214;
    --color-on-surface-variant: 66 71 78;
    --color-secondary-fixed-dim: 194 199 207;
    --color-on-error-container: 65 0 2;
    --color-outline-variant: 194 199 207;
    --color-tertiary-fixed-dim: 255 184 106;
    --color-background: 253 252 255;
    --color-on-error: 255 255 255;
    --color-on-surface: 26 28 30;
    --color-surface-dim: 222 216 225;
    --color-outline: 115 119 127;
    --color-secondary: 83 95 112;
    --color-on-tertiary-container: 44 21 0;
    --color-on-primary: 255 255 255;
    --color-inverse-surface: 47 48 51;
    --color-on-primary-container: 0 30 47;
    --color-surface-container: 240 240 244;
    --color-primary: 0 101 145;
    --color-deep-black: 2 6 23;
    --color-inverse-primary: 137 206 255;
    --color-secondary-container: 215 227 248;
    --color-surface: 253 252 255;
    --color-error: 186 26 26;
    --color-terminal-green: 16 185 129;
    --color-on-secondary: 255 255 255;
    --color-surface-container-high: 232 232 237;
    --color-electric-cyan: 34 211 238;
    --color-tertiary: 130 85 0;
    --color-on-background: 26 28 30;
    --color-on-tertiary-fixed: 44 23 0;
    --color-secondary-fixed: 218 226 253;
    --color-surface-container-low: 244 243 247;
    --color-on-secondary-fixed-variant: 63 70 92;
    --color-tertiary-container: 255 220 188;
    --color-surface-container-highest: 226 226 230;
    --color-on-tertiary-fixed-variant: 104 61 0;
    --color-inverse-on-surface: 241 240 244;
    --color-on-primary-fixed: 0 30 47;
    --color-on-secondary-fixed: 19 27 46;
    --color-tertiary-fixed: 255 220 188;
    --color-surface-dark: 30 41 59;
    --color-primary-container: 201 230 255;
    --color-primary-fixed-dim: 137 206 255;
    --color-surface-container-lowest: 255 255 255;
    --color-on-secondary-container: 16 28 43;
    --color-surface-tint: 0 101 145;
    --color-surface-variant: 222 227 235;
    --color-on-primary-fixed-variant: 0 76 110;
    --color-primary-fixed: 201 230 255;
}

html.dark {
    --color-surface-bright: 44 58 76;
    --color-on-tertiary: 73 41 0;
    --color-error-container: 147 0 10;
    --color-on-surface-variant: 189 200 210;
    --color-secondary-fixed-dim: 190 198 224;
    --color-on-error-container: 255 218 214;
    --color-outline-variant: 62 72 81;
    --color-tertiary-fixed-dim: 255 184 106;
    --color-background: 5 20 36;
    --color-on-error: 105 0 5;
    --color-on-surface: 212 228 250;
    --color-surface-dim: 5 20 36;
    --color-outline: 135 146 156;
    --color-secondary: 190 198 224;
    --color-on-tertiary-container: 91 53 0;
    --color-on-primary: 0 52 77;
    --color-inverse-surface: 212 228 250;
    --color-on-primary-container: 0 67 97;
    --color-surface-container: 18 33 49;
    --color-primary: 137 206 255;
    --color-deep-black: 2 6 23;
    --color-inverse-primary: 0 101 145;
    --color-secondary-container: 63 70 92;
    --color-surface: 5 20 36;
    --color-error: 255 180 171;
    --color-terminal-green: 16 185 129;
    --color-on-secondary: 40 48 68;
    --color-surface-container-high: 28 43 60;
    --color-electric-cyan: 34 211 238;
    --color-tertiary: 255 184 106;
    --color-on-background: 212 228 250;
    --color-on-tertiary-fixed: 44 23 0;
    --color-secondary-fixed: 218 226 253;
    --color-surface-container-low: 13 28 45;
    --color-on-secondary-fixed-variant: 63 70 92;
    --color-tertiary-container: 240 148 8;
    --color-surface-container-highest: 39 54 71;
    --color-on-tertiary-fixed-variant: 104 61 0;
    --color-inverse-on-surface: 35 49 67;
    --color-on-primary-fixed: 0 30 47;
    --color-on-secondary-fixed: 19 27 46;
    --color-tertiary-fixed: 255 220 188;
    --color-surface-dark: 30 41 59;
    --color-primary-container: 0 180 255;
    --color-primary-fixed-dim: 137 206 255;
    --color-surface-container-lowest: 1 15 31;
    --color-on-secondary-container: 173 180 206;
    --color-surface-tint: 137 206 255;
    --color-surface-variant: 39 54 71;
    --color-on-primary-fixed-variant: 0 76 110;
    --color-primary-fixed: 201 230 255;
}
